<div class="background">
    <h2>
        Les missions de cette plateforme
    </h2>
	<div class="layout">
		<div class="missions">
            <ul>
                <li>
					Echanger les uns avec les autres
                    <p> 
                        Cette plateforme a pour but d'echanger notre vécu les uns avec les autres.
						<br>
						Partager notre vision du monde et ce qui nous pose problème.
					</p>
				</li>
				<li> 
					De trouver des solutions
					<p>
						De trouver des solutions aussi bien en tant que soutien dans vos démarches quelques soient.
						<br>
						Que ce soit une écoute, un accompagnement psychologique où bien d'aide administrative selon vos motivations et le travail qu'il vous reste à accomplir pour être comblés.
					</p>
				</li>
				<li>
					Mettre en oeuvre ce qui vous tiens à coeur
					<p>
						Faire appel à des associations et futurs partenaire pour vos démarches.
						<br>
						Vous permettre d'avançer dans la vie en dépit des difficultés auxquelles vous êtes et serez confrontés à l'avenir.
					</p>
				</li>
			</ul>
        </div>
        <div class="startingContact">
            <h2>Commencez dès maintenant</h2>
                <div class="formulaire">
                    <form action="" type="POST">
                        <label name="name">Identifiant</label>
                            <input type="text" placeholder="Votre Identifiant">
                        <label name="email">Votre email</label>
                            <input type="email" placeholder="Votre email">
                        <label name="message">Votre message</label>
                            <textarea name="message" type="text" cols="5" rows="2" placeholder="Votre message">
                        </textarea>
            
                        <form class="checkYourPref">
                            <div class="checked">
                                <input type="checkbox" id="moreInfo" name="info" class="check">
                                <label for="moreInfo">Pour en savoir plus</label>
                            </div>
                            <div class="checked">
                                <input type="checkbox" id="tryFirst" name="echange" class="check">
                                <label for="echanger">Pour commencer à échanger</label>
                            </div>
                            <div class="checked">
                                <input type="checkbox" id="tryTogether" name="echange" class="check">
                                <label for="tryTogether" name="between">Pour temoigner et partager son experience</label>
                            </div>
                        </form>
                        
                        <button type="submit">Envoyer</button>
                    </form>
                </div>
        </div>
	</div>
</div>