
  <header>
    <div class="title">
      <h1>
        J'ouïe dire..
      </h1>
        <ul>
          <li routerLink='/accueil'>
            Accueil
          </li>
          <li routerLink='/about'>
            A propos  
          </li>
          <li routerLink='/mission'>
            Missions
          </li>
          <li routerLink='/forum'>
            Forum
          </li>
          <li routerLink='/temoignages'>
            Temoignages
          </li>
          <li>
            Contact
          </li>
        </ul>
          <div class='etPlus'>
            <a>
              Sign in
            </a>
            <a>
              sign up
            </a>
        </div>
      </div>
    </header>
<router-outlet></router-outlet>
<footer>
  <p>
    J'ouïeDire plateforme d'échange
  </p>
</footer>