<div class="background">
	<div class="layout">
		<h2>
			Temoignez de votre vécu
		</h2>
        <div class="videos">
        <div id="monCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" style="max-width: 550px;" >
            <ol class="carousel-indicators">
                <li data-target="#monCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#monCarousel" data-slide-to="1"></li>
                <li data-target="#monCarousel" data-slide-to="2"></li>
            </ol>
                <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" >
                            <video controls src="/assets/videos/PexelsVideos2882.mp4" width="550px" height="390px" type="video/mp4">
                            </video>
                        </div>
                        <div class="carousel-item"> 
                            <video controls src="/assets/videos/video.mp4" width="550px" height="390px" type="video/mp4"></video>
                        </div>
                        <div class="carousel-item">
                            <video controls src="/assets/videos/PexelsVideos1494279.mp4" width="550px" height="390px" type="video/mp4" ></video>
                        </div>
                </div>
             <a class="carousel-control-prev" href="#monCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#monCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <div class="othersVideos" style="margin-left: 70px;">
            <button type="button" class="btn" (click)="toOpen()">Plus de témoignages</button>
            <div class="videoToOpen">
                <video controls src="/assets/videosothers/Cateye - 48441.mp4" width="370px" height="285px" type="video/mp4">
                </video>
            </div>
            <div class="videoToOpen">
                <video controls src="/assets/videosothers/Hand Washing - 34091.mp4" width="370px" height="285px" type="video/mp4">
                </video>
            </div>
            <div class="videoToOpen">
                <video controls src="/assets/videosothers/Jellyfish - 10480.mp4" width="370px" height="285px" type="video/mp4">
                </video>
            </div>
            <div class="videoToOpen">
                <video controls src="/assets/videosothers/Macro - 34855.mp4" width="370px" height="285px" type="video/mp4">
                </video>
            </div>
            <div class="videoToOpen">
                <video controls src="/assets/videosothers/Particles - 6436.mp4" width="370px" height="285px" type="video/mp4">
                </video>
            </div>
            <div class="videoToOpen">
                <video controls src="/assets/videosothers/Pasta - 33256.mp4" width="370px" height="285px" type="video/mp4">
                </video>
            </div>
        </div>
        </div>
        <div class="writeIn">
            <h2>
                Temoignagez aussi sans vous dévoilez si vous le souhaitez.
            </h2>
            <h3> 
                Temoignages Ecrits
            </h3>
            <div class="paraph">
                <div class="comment">
                    <img src="./assets/quote-left-solid.svg"/>
                    <p>
				        'Nunc in suscipit turpis. Morbi cursus, risus ut elementum aliquam, turpis mi fermentum augue, vitae faucibus augue neque in lectus.'
					</p>
				</div>
				<div class="comment">
                    <img src="./assets/quote-left-solid.svg"/>
				    <p>
				        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    </p>
				</div>
            </div>
        </div>
    </div>
</div>