<div class="firstPart">
	<div class="layout">

		<h2>
			J'ouïe dire..
		</h2>

	<div class="secondPart">
		<div class="temoignage">
				<div class="icone">
					<img src="/assets/quote-left-solid.svg">
						<p>
							Bienvenue sur ma plateforme, 
							mon but s'est développé car j'ai eu un vécu assez douloureux.
						<br>
							J'ai été entourée de beaucoup de personnes qui m'ont offert de leur temps et de leur amour la force d'avançer.
						<br>
							Je tiens donc à vous donner la chance de vous exprimer et de vous aider à régler vos problèmes ou juste à parler de ce qui vous tiens à coeur sans avoir peur d'être jugés.
						</p>
				</div>
		</div>
	</div>
	<div class="wakeUp">
		<div class="text">
			<p>
				J'ai pour ambition de mettre en liaison toutes personnes sans aucun jugement ni discriminations.
			<br>
				Vous permettre d'échanger de solidifier vos relations avec toutes les personnes qui se joindrons à cette plateforme.
			</p>
		</div>
		<div class="text">
			<p>
				Nous pourrons alors nous entraider ensemble et faire en sorte que ce monde devienne meilleur pour chacun d'entre vous.
			</p>
		</div>
	</div>
	<div class="formulaire">
        <button class="btn" (click)="toggleForm()">Lancez Vous</button>
		<form>
			<label>Nom:</label>
				<input type="text" name="nom">
			<label>Adresse Mail:</label>
				<input type="mail" name="mail">
		</form>	
	</div>
	</div>
</div>